*{margin:0;padding:0;box-sizing:border-box;}

#heart{
  margin:200px;
  position:relative;
  display:inline-block;
  transition:all .5s;
  /*0.5s可以缩写为 .5s*/
}

#heart:hover{
  transform:scale(1.5);
}

#heart>.square{
  width:100px;
  height:100px;
  transform:rotate(45deg);
  background:red;
}

#heart>.left{
  width:100px;
  height:100px;
  position:absolute;
  bottom:100%;
  right:100%;
  transform:rotate(45deg) translateX(61px);
  border-radius:50% 0 0 50%;
  /*右上 右下 左下 左上*/
  background:red;
}

#heart>.right{
  width:100px;
  height:100px;
  position:absolute;
  bottom:100%;
  left:100%;
  transform:rotate(45deg) translateY(61px);
  border-radius:50% 50% 0 0;
  background:red;
}
